.documentaire {
  background-image: url("../image/image-floue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: var(--beige);
}

.documentaire-title {
  margin-left: 42px;
  margin-top: 80px;
  -webkit-margin-bottom-collapse: 20px;
}

.documentaire-description {
  margin-left: 42px;
  margin-top: 42px;
}

.img-fit {
  width: 100%;
  height: auto;
  display: block;
}

.documentaire-img-gauche {
  height: 50%;
  object-fit: cover;
  width: 100%;
  margin-top: 30px;
}

.documentaire-img-droite {
  height: 100vh;
  object-fit: cover;
  width: 100%;
  margin-top: 45px;
}

.col-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.documentaire-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.documentaire-synopsis {
  margin-top: 80px;
}

.documentaire-intentions {
  margin-top: 80px;
}

.documentaire-synopsis-text {
  margin-top: 20px;
  margin-bottom: 20px;
}
