.homepage-title {
  font-size: 180px;
  white-space: nowrap;
}

p {
  width: 356px;
}

.titre-principal {
  margin-top: 106px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.homepage {
  margin-bottom: 120px;
  margin-top: 150px;
}
