.projet {
  white-space: nowrap;
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  text-align: center;
}

.projet-titre {
  font-size: 64px;
}

.projet-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.projet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.projet-image:hover {
  transform: scale(1.1);
}

.projet-animate {
  margin-top: 70vh;
}
