* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --red: #7b0016;
  --brown: #481f08;
  --beige: #fffcf6;
  --pink: #ffd8df;
  --brown-40: #481f08;
}

h1 {
  font-family: aabak-swash;
  font-size: 128px;
  font-weight: 600;
}

body {
  font-family: PF Marlet Display;
  font-size: 20px;
  color: var(--red);
  margin-top: 30px;
}

html {
  scroll-behavior: smooth;
}
