$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1700px,
);
@import "bootstrap/scss/bootstrap-grid";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/documentaire.scss";
@import "modules/disposition.scss";
@import "modules/nav.scss";
@import "modules/homepage.scss";
@import "modules/projet.scss";
@import "modules/about.scss";
@import "modules/contact.scss";
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
